<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cadastro de Produtos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-toggle="lapse" 
    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cadastro">Cadastro de produtos</a>
        </li>
        <li class="nav-item">
          <form method="post" class="d-flex" action="/pesquisa">
            <input type="text" name="pesquisa" id="pesquisa" placeholder="Pesquisa seu produto aqui" class="form-control" aria-label="Search">
            <button class="btn btn-warning" type="submit"> Pesquisar</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>