<div class="card">
    <div class="card-body">
        <div class="card-tittle">
            <label for="prod">Produto: </label>
            <input class="form-control" type="text" name="produto" id="produto" value="{{produto.nome}}">
        </div>
        <div class="card-text mt-4">
            <label for="quant">Quantidade do produto</label>
            <input class="form-control" type="number" name="quant" id="quant" value="{{produto.quantidade}}">
        </div>
    </div>
</div>
<div class="card">
    <div class="row">
        
    </div>
</div>